//变量

$logoHeight:110px;
$btnHoverBgColor:#ff0000;

$headerHeight:50px;
$footerHeight:80px;

//色彩系统
$green:rgba(34,225,126,1);//主色
$blue:#3f98f7;//辅助色
$red:#ff3939;//点缀色 红色
$qianYellow:#ffc572;//点缀色 浅黄色
$yellow:#ffc600;//点缀色 深黄色
$black:#323436;//黑色

//文字大小系统
$font18:18px;
$font16:16px;
$font14:14px;
$font12:12px;

$bigTitleColor:#333;//大标题文字颜色与正文段落文字颜色
$smallTitleColor:#666;//用户名称字体与小标题文字颜色
$fuzhuTextColor:#999;//辅助正文信息字体颜色
$tipTextColor:#ccc;//最次要的内容或操作提示的文字颜色
$fff:#fff;//白色
